{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="about-background">
    <div class="program-content-overlay">
        <div class="program-content">

            <div class="about-content">
                <div class="row">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="classes class-single about-detail-container-card">
                                <div class="desc desc2 row">
                                    <div class="col-md-12 program-detail-container">


                                        <h3><i class="material-icons">sentiment_satisfied_alt</i> Welcome </h3>

                                        <div class="about-welcome">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut
                                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur. Excepteur sint
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut
                                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur. Excepteur sint
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="classes class-single about-detail-container-card">
                                <div class="desc desc2 row">
                                    <div class="col-md-12 program-detail-container">


                                        <h3><i class="material-icons">language</i> History</h3>


                                        <div class="col-md-5 col-sm-11 col-xs-11 history-card" style="padding: 0px">

                                            <div class="research_group_img_div">
                                                <div class="md-stepper-horizontal orange">
                                                    <div class="year-div"><span>1996-2005</span></div>
                                                </div>
                                            </div>
                                            <div class="history-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut
                                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                exercitation ullamco
                                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                in
                                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur. Excepteur sint

                                            </div>
                                        </div>

                                        <div class="col-md-5 col-sm-11 col-xs-11 history-card" style="padding: 0px">

                                            <div class="research_group_img_div">
                                                <div class="md-stepper-horizontal orange">
                                                    <div class="year-div"><span>2006-2011</span></div>
                                                </div>
                                            </div>
                                            <div class="history-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut
                                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                exercitation ullamco
                                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                in
                                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur. Excepteur sint

                                            </div>
                                        </div>

                                        <div class="col-md-5 col-sm-11 col-xs-11 history-card" style="padding: 0px">

                                            <div class="research_group_img_div">
                                                <div class="md-stepper-horizontal orange">
                                                    <div class="year-div"><span>2012-Present</span></div>
                                                </div>
                                            </div>
                                            <div class="history-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut
                                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                exercitation ullamco
                                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                in
                                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur. Excepteur sint

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="classes class-single about-detail-container-card">
                                <div class="desc desc2 row">
                                    <div class="col-md-12 program-detail-container">


                                        <h3><i class="material-icons">help</i> Why SUST CSE?</h3>
                                        <div class="col-md-5 col-sm-11 col-xs-11 history-card" style="padding: 0px">

                                            <div class="research_group_img_div">
                                                <div class="hovereffect">
                                                    <img class="img-responsive"
                                                         src="/static/images/backgrounds/acm_icpc_2014.jpg"
                                                         alt="" style="width: 100%;height: 250px">
                                                    <div class="overlay">
                                                        <h2>ACM ICPC World Finals!!!</h2>
                                                        <!--{% if group.site_link %}
                                                        <a class="info" href="{{ group.site_link }}">Visit Site</a>
                                                        {% endif %}-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="history-text">
                                                <span class="about-why-header">Leading in Programming!</span>
                                                <hr>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat nulla pariatur. Excepteur sint
                                            </div>


                                        </div>


                                        <div class="col-md-5 col-sm-11 col-xs-11 history-card" style="padding: 0px">

                                            <div class="research_group_img_div">
                                                <div class="hovereffect">
                                                    <img class="img-responsive"
                                                         src="/static/images/backgrounds/acm_icpc_2014.jpg"
                                                         alt="" style="width: 100%;height: 250px">
                                                    <div class="overlay">
                                                        <h2>ACM ICPC World Finals!!!</h2>
                                                        <!--{% if group.site_link %}
                                                        <a class="info" href="{{ group.site_link }}">Visit Site</a>
                                                        {% endif %}-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="history-text">
                                                <span class="about-why-header">Software Development!</span>
                                                <hr>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat nulla pariatur. Excepteur sint
                                            </div>


                                        </div>


                                        <div class="col-md-5 col-sm-11 col-xs-11 history-card" style="padding: 0px">

                                            <div class="research_group_img_div">
                                                <div class="hovereffect">
                                                    <img class="img-responsive"
                                                         src="/static/images/backgrounds/research.jpg"
                                                         alt="" style="width: 100%; height: 250px">
                                                    <div class="overlay">
                                                        <h2>ACM ICPC World Finals!!!</h2>
                                                        <!--{% if group.site_link %}
                                                        <a class="info" href="{{ group.site_link }}">Visit Site</a>
                                                        {% endif %}-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="history-text">
                                                <span class="about-why-header">Research Work!</span>
                                                <hr>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat nulla pariatur. Excepteur sint
                                            </div>


                                        </div>


                                        <div class="col-md-5 col-sm-11 col-xs-11 history-card" style="padding: 0px">

                                            <div class="research_group_img_div">
                                                <div class="hovereffect">
                                                    <img class="img-responsive"
                                                         src="/static/images/backgrounds/cse-carnival.jpg"
                                                         alt="" style="width: 100%; height: 250px">
                                                    <div class="overlay">
                                                        <h2>ACM ICPC World Finals!!!</h2>
                                                        <!--{% if group.site_link %}
                                                        <a class="info" href="{{ group.site_link }}">Visit Site</a>
                                                        {% endif %}-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="history-text">
                                                <span class="about-why-header">Co-Curriculum Activities!</span>
                                                <hr>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat nulla pariatur. Excepteur sint
                                            </div>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}