{% extends 'base.html' %}
{% load static %}
{% block title %}Developer{% endblock %}
{% block content %}

    <div class="research-group-background">
        <div class="program-content-overlay">
            <div class="program-content">

                <div class="faculty-list">
                    <div class="row">
                        <div class="container">

                            <div class="col-md-12">
                                <div class="classes class-single curriculum-detail-container-card">
                                    <div class="desc desc2 row">
                                        <div class="col-md-12 program-detail-container">
                                            <h3>Supervisor</h3>
                                            <div class="col-md-4 col-sm-6 list">
                                                <div class="card">
                                                    <center>
                                                        <a href="">
                                                            <img src="{% static 'images/dev/saif_sir.jpg' %}"
                                                                 alt="Avatar" height="50px" class="img img-responsive">
                                                        </a>
                                                    </center>
                                                    <div class="card-bottom">
                                                    <span>
                                                        <b>
                                                            <a class="people-title"
                                                               href="#">Md Saiful Islam</a>
                                                        </b>
                                                    </span>
                                                        <span class="people-designation">
                                                       Assistant Professor
                                                    </span>
                                                        <span class="people-designation">
                                                        Dept of CSE, SUST
                                                    </span>
                                                        <span class="people-designation" style="margin-bottom: 2%;">
                                                        Room no-213, IICT Building, SUST
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <p>
                                                    This Site is Developed under the supervision of Md. Saiful Islam
                                                    as an Academic Project titled Web Engineering. He is responsible for
                                                    further development and maintenance of this web site. It is also
                                                    copyright by Department of Computer Science and Engineering,
                                                    Shahjalal University of Science and Technology
                                                </p>

                                            </div>


                                        </div>


                                        <div class="col-md-12 program-detail-container">
                                            <h3>Developer</h3>

                                            <div class="col-md-4 col-sm-6 list">
                                                <div class="card">
                                                    <center>
                                                        <a href="">
                                                            <img src="{% static 'images/dev/shayem.jpg' %}" alt="Avatar"
                                                                 style="height: 60%;" class="img img-responsive">
                                                        </a>
                                                    </center>
                                                    <div class="card-bottom">
                                                    <span>
                                                        <b>
                                                            <a class="people-title"
                                                               href="#">Shehab Ahmed Shayem</a>
                                                        </b>
                                                    </span>
                                                        <span class="people-designation">
                                                        Undergraduate Student
                                                    </span>
                                                        <span class="people-designation">
                                                        Dept of CSE, SUST
                                                    </span>
                                                        <span class="people-designation" style="margin-bottom: 2%;">
                                                        2014-15 Session
                                                    </span>
                                                        <span class="people-designation" style="margin-bottom: 2%;">
                                                        Reg No - 2014331048
                                                    </span>
                                                        <span class="people-designation" style="margin-bottom: 2%;">
                                                            Find Me On
                                                        </span>

                                                        <span class="people-designation" style="margin-bottom: 2%;">
                                                            <a href="https://github.com/ShehabAhmedSayem" target="_blank">
                                                                <img src="{% static 'images/dev/github_round.png' %}" alt="Avatar"
                                                                 height="50px" class="img img-responsive dev-img">
                                                            </a>

                                                            <a href="https://www.linkedin.com/in/shehab-ahmed-sayem-b1941b15b/" target="_blank">
                                                                <img src="{% static 'images/dev/linkedIn.png' %}" alt="Avatar"
                                                                 height="50px" class="img img-responsive dev-img">
                                                            </a>

                                                            <a href="https://www.facebook.com/shehabahmed.sayem" target="_blank">
                                                                <img src="{% static 'images/dev/fb_round.png' %}" alt="Avatar"
                                                                 height="50px" class="img img-responsive dev-img">
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 list">
                                                <div class="card">
                                                    <center>
                                                        <a href="">
                                                            <img src="{% static 'images/dev/shadat.jpg' %}" alt="Avatar"
                                                                 height="50px" class="img img-responsive">
                                                        </a>
                                                    </center>
                                                    <div class="card-bottom">
                                                    <span>
                                                        <b>
                                                            <a class="people-title"
                                                               href="#">Shadat Tonmoy</a>
                                                        </b>
                                                    </span>
                                                        <span class="people-designation">
                                                        Undergraduate Student
                                                    </span>
                                                        <span class="people-designation">
                                                        Dept of CSE, SUST
                                                    </span>
                                                        <span class="people-designation" style="margin-bottom: 2%;">
                                                        2014-15 Session
                                                    </span>
                                                        <span class="people-designation" style="margin-bottom: 2%;">
                                                        Reg No - 2014331070
                                                    </span>
                                                        <span class="people-designation" style="margin-bottom: 2%;">
                                                        Find Me On
                                                    </span>

                                                        <span class="people-designation" style="margin-bottom: 2%;">
                                                            <a href="https://github.com/Shadat-tonmoy" target="_blank">
                                                                <img src="{% static 'images/dev/github_round.png' %}" alt="Avatar"
                                                                 height="50px" class="img img-responsive dev-img">
                                                            </a>

                                                            <a href="https://www.linkedin.com/in/shadat-tonmoy-06266b27/" target="_blank">
                                                                <img src="{% static 'images/dev/linkedIn.png' %}" alt="Avatar"
                                                                 height="50px" class="img img-responsive dev-img">
                                                            </a>

                                                            <a href="https://www.facebook.com/shadat.tonmoy" target="_blank">
                                                                <img src="{% static 'images/dev/fb_round.png' %}" alt="Avatar"
                                                                 height="50px" class="img img-responsive dev-img">
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <br>


            </div>
        </div>
    </div>



{% endblock %}
