{% extends "base.html" %}

{% block content %}

<script>

    $(document).ready(function () {
        $('.message a').click(function () {
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });

    })
</script>

<div class="login-background">
    <div class="login-page-overlay">
        <div class="program-content">
            <div class="login-page">

                <div class="form">
                    <div class="form-header">Fill the form to login</div>
                    <form class="register-form">
                        <input type="text" placeholder="E-Mail"/>
                        <input type="password" placeholder="Password"/>
                        <input type="text" placeholder="email address"/>
                        <button>create</button>
                        <p class="message">Already registered? <a href="#">Sign In</a></p>
                    </form>
                    <form class="login-form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="text" placeholder="E-Mail" name="username" autofocus=""
                               maxlength="254" required="" id="id_username">
                        <input type="password" placeholder="Password" type="password"
                               name="password" required="" id="id_password"/>
                        <input type="submit" value="login">
                        <p class="message">Forgot Password? <a href="{% url 'password_reset' %}">Reset Here</a></p>
                    </form>

                    {% if form.errors %}
                    <div class="form-invalid">Invalid User Name or Password. Try Again!</div>
                    {% endif %}


                    {% if next %}
                    {% if user.is_authenticated %}
                    <div class="login-no-access">Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</div>
                    {% else %}
                    <div class="login-no-access">Please login to see this page.</div>
                    {% endif %}
                    {% endif %}

                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}