* {
    margin: 0px;
    padding: 0px;
}

.content-admission-form{
    background-image: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.admission-form-content-overlay{
    background: rgba(0, 0, 0, 0.6);
}
.admission-form-content{
    padding-top: 15em;
    margin: auto;
    width: 50%;

}
.admission-form-container-card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    padding: 2em;
    border-bottom: 5px solid dodgerblue;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 100px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.admission-form-container-card-header {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1.5em;
    background: dodgerblue;
    color: white;
}
.submit-button{
        font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 50%;
    margin: auto;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.delete-course{
    color: #bd0d01;
    cursor:pointer;
}



.program-detail-header-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: whitesmoke;
    border-bottom: 5px solid forestgreen;
}




.modal-open[style] {
padding-right: 0px !important;
}

.total-course-credit {
    float: right;
    margin-right: 1em;
}
.modal-header{
    background: #A3305B;
    color: white;
}
.card {
    /* Add shadows to create the "card" effect */
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 1em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.card .card-bottom {
    background-color: #2c3e50;
}

.people-detail {
    margin: 0px;
    padding: 0px;
    display: block;

}

.people-title {
    color: white;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 0.2em;
    display: block;
    margin: 0px;
}

.people-designation {
    color: #95a5a6;
    display: block;
    margin-left: 1em;
    padding-bottom: 0.2em;
}

.people-detail-header-image {
    position: absolute;
    width: 100%;
    height: 350px;
    background-image: url(../images/people/gradient_bg.jpg);
    background-size: 100% 100%;
}

.program-background{
    background-image: url(../images/bg3.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.faculty-list-background{
    background-image: url(../images/bg3.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;

}
.faculty-list{
    margin-top:5%;
}

#program-detail{
    padding-top: 2em;
}

.people-detail-header-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.people-detail-header-text {
    position: relative;
}

.people-detail-container {
    margin-top: 1%;
    border-right: 5px solid white;
    padding: 0% 5% 2% 5%;
}

.program-detail-container {
    margin-top: 1%;
    padding: 0% 5% 2% 5%;

}

.people-detail-text {
    display: block;
    color: #2c3e50;
    font-weight: 500;
    font-family: cursive;

}

.people-detail-image {
    border-radius: 100%;
    position: absolute;
    z-index: 10;
    margin-left: 30%;
}

.people-header-menu {
    padding: 4%;
    margin: 0px;
    /*border-left: 5px solid;*/
    display: block;
    color: whitesmoke;
    font-weight: 500;
    font-family: cursive;
    cursor: pointer;
}

.people-header-menu:hover {
    color: #2c3e50;
    transition: color 0.8s;
}

.material-icons {
    padding-right: 10px;
    margin-top: 1%;
}

.faculty_detail_description {
    font-weight: 500;
    text-align: justify;
    color: #2c3e50;
}

.social-icon {
    display: inline-block;
    margin-left: 1%;
}

.faculty-education-title {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
}

.faculty-education-subtitle {
    display: block;
}
