{% extends 'base.html' %}
{% block title %}{{ faculty.name }}{% endblock %}
{% block content %}


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/easing.js"></script>
    <script src="/static/js/easyResponsiveTabs.js"></script>
    <script src="/static/js/jquery.swipebox.min.js"></script>
    <script src="/static/js/move-top.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <div class="about-background">
        <div class="program-content-overlay">
            <div class="program-content">

                <div class="about-content">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12">
                                <div class="classes class-single faculty-detail-container-card">
                                    <div class="desc desc2 row" style="padding: 0;">
                                        <div class="col-md-12 faculty-detail-container">

                                            <div id="home" class="banner">
                                                <div class="banner-info">
                                                    <div class="container">
                                                        <div class="col-md-4 header-left">
                                                            <img src="/media/{{ faculty.image }}" alt=""/>


                                                            {% if faculty.socialprofile_set.all %}
                                                                <span class="social-profile-header">Find Me On</span>
                                                                {% for socialProfile in faculty.socialprofile_set.all %}
                                                                    <a class="social-profile-icon"
                                                                       href="{{ socialProfile.link }}">
                                                                        <i class="material-icons">dashboard</i>
                                                                    </a>
                                                                {% endfor %}
                                                            {% endif %}


                                                        </div>
                                                        <div class="col-md-7 header-right faculty-intro-header">
                                                            <h2>Hello</h2>
                                                            <h1 style="margin: 0px;">I'm {{ faculty.name }}</h1>
                                                            <h6 style="margin: 0px; color: #ecf0f1; font-weight: bold; letter-spacing:2px; ">
                                                                {{ faculty.designation }}<br>Department of CSE SUST</h6>
                                                            <ul class="address">
                                                                <li>
                                                                    <ul class="address-text">
                                                                        <li><b><i class="material-icons">place</i>
                                                                            Office
                                                                        </b></li>
                                                                        <li>{{ faculty.office }}</li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <ul class="address-text">
                                                                        <li><b><i class="material-icons">phone</i> Phone
                                                                        </b></li>
                                                                        <li>{{ faculty.contact }}</li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <ul class="address-text">
                                                                        <li><b><i class="material-icons">email</i>
                                                                            E-mail
                                                                        </b></li>
                                                                        <li>{{ faculty.user.email }}</li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                            {% if user.is_authenticated %}
                                                            {% if user.id == faculty.user.id %}
                                                            <a href="{% url 'update_faculty' %}"><button type="button" class="btn btn-info" style="float:right">Edit Profile</button></a>
                                                            {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="top-nav wow">
                                                <div class="container">
                                                    <div class="navbar-header logo">
                                                        <button type="button" class="navbar-toggle collapsed"
                                                                data-toggle="collapse"
                                                                data-target="#bs-example-navbar-collapse-1">
                                                            Menu
                                                        </button>
                                                    </div>
                                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                                    <div class="collapse navbar-collapse"
                                                         id="bs-example-navbar-collapse-1">
                                                        <div class="menu">
                                                            <ul class="nav navbar">
                                                                <li><a href="#about" class="scroll">About</a></li>
                                                                <li><a href="#work" class="scroll">Experience</a></li>
                                                                <li><a href="#education" class="scroll">Education</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{% url 'faculty_publications' faculty.user_id %}"
                                                                       class="scroll">Publications</a></li>
                                                            </ul>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="about" class="about">
                                                <div class="container">
                                                    <h3 class="title"> About Me</h3>
                                                    <div class="col-md-11 about-left">
                                                        <p class="about-text">{{ faculty.about }}</p>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>


                                            <div id="work" class="work">
                                                <div class="">
                                                    <h3 class="title">Work Experience</h3>


                                                    {% if faculty.experience_set.all %}
                                                        {% for exp in faculty.experience_set.all %}


                                                            <!--right-->
                                                            <div class="row work-info">
                                                                <div class="col-md-5" style="padding-top: 60px;">

                                                                    <h4>{{ exp.time_duration }} </h4>

                                                                </div>

                                                                <div class="col-md-6"
                                                                     style="border-left: 1px solid white; padding-top: 60px;">
                                                                    <h5 style="border: 0px;">
                                                                    <span class="glyphicon glyphicon-briefcase"
                                                                          style="margin-left: -4em"> </span>
                                                                    </h5>
                                                                    {% if user.is_authenticated %}
                                                                        {% if user.id == faculty.user.id %}
                                                                            <a href="{% url 'delete_experience' exp.id %}"><i
                                                                                    class="material-icons"
                                                                                    style="display: inline-block; float:right;">clear</i></a>
                                                                        {% endif %}
                                                                    {% endif %}

                                                                    <span class="work-place"
                                                                          style="color: white;">{{ exp.organization }}</span>
                                                                    <p class="work-desc">
                                                                    <ul class="work-detail">
                                                                        <li>
                                                                            <ul class="address-text">
                                                                                <li><b><i
                                                                                        class="material-icons">place</i>
                                                                                    Organization
                                                                                </b></li>
                                                                                <li>{{ exp.organization }}</li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <ul class="address-text">
                                                                                <li><b><i
                                                                                        class="material-icons">school</i>
                                                                                    Position
                                                                                </b></li>
                                                                                <li>{{ exp.designation }}</li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <ul class="address-text">
                                                                                <li><b><i class="material-icons">date_range</i>
                                                                                    Time
                                                                                    Period
                                                                                </b></li>
                                                                                <li>{{ exp.time_duration }}</li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>


                                                                    </p>
                                                                </div>

                                                            </div>



                                                        {% endfor %}
                                                    {% else %}
                                                        <p class="faculty_detail_description">No Experience Details
                                                            Available</p>
                                                    {% endif %}


                                                    <!--left -->


                                                </div>
                                            </div>


                                            <!--education div-->

                                            <div id="education" class="education">
                                                <div class="">
                                                    <h3 class="title">Education</h3>
                                                    {% if user.is_authenticated %}
                                                    {% if user.id == faculty.user.id %}
                                                    <a href="{% url 'add_education' %}"><i class="material-icons" style="display: inline-block; float:right;">add_circle_outline</i></a>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% if faculty.education_set.all %}
                                                        {% for edu in faculty.education_set.all %}

                                                            <!--right-->
                                                            <div class="row work-info">
                                                                <div class="col-md-5" style="padding-top: 60px;">

                                                                    <h4>{{ edu.passing_year }} </h4>

                                                                </div>

                                                                <div class="col-md-6"
                                                                     style="border-left: 1px solid black;padding-top: 60px;">
                                                                    <h5 style="border: 0px;">
                                                                    <span class="glyphicon glyphicon-briefcase"
                                                                          style="margin-left: -4em"> </span>
                                                                    </h5>

                                                                    {% if user.is_authenticated %}
                                                                        {% if user.id == faculty.user.id %}
                                                                            <a href="{% url 'delete_experience' edu.id %}"><i
                                                                                    class="material-icons"
                                                                                    style="display: inline-block; float:right;">clear</i></a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                    <span class="work-place">{{ edu.institution }}</span>
                                                                    <p class="work-desc">
                                                                    <ul class="education-detail">
                                                                        <li>
                                                                            <ul class="address-text">
                                                                                <li><b><i
                                                                                        class="material-icons">place</i>
                                                                                    Institution
                                                                                </b></li>
                                                                                <li>{{ edu.institution }}</li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <ul class="address-text">
                                                                                <li><b><i
                                                                                        class="material-icons">school</i>
                                                                                    Year of
                                                                                    Passing
                                                                                </b></li>
                                                                                <li>{{ edu.passing_year }}</li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <ul class="address-text">
                                                                                <li><b><i class="material-icons">date_range</i>
                                                                                    Specialization
                                                                                </b></li>
                                                                                <li>{{ edu.specialization }}</li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p class="faculty_detail_description">No Experience Details
                                                            Available</p>
                                                    {% endif %}


                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <br><br>
            </div>
        </div>
    </div>

{% endblock %}