{% extends 'base.html' %}
{% block title %}Experience{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<br>
<div style="text-align:center;">
<form method="post" action="">
    {% csrf_token %}
    {{ social_profile_form.as_p }}
    <input type="submit" value="Done" />
</form>
    <br>
<a href="{% url 'faculty_detail' user.id %}">Back to Profile Page</a>

</div>
<br>
<div class="col-md-12">
    <div class="row">
        <div id="faculty_publication" class="col-md-10 col-md-offset-1">
            <div class="card">
                <div class="card-bottom">
                    <p class="people-detail">
                        <b>
                    <p class="people-title">Social Profile</p>
                    </b>
                    </p>
                </div>

                {% if user.faculty.social.all %}
                {% for publication in user.faculty.publication_set.all %}
                <p class="faculty_detail_description">
                    <span class="faculty-education-title">{{ publication.title }}</span>
                    <span class="faculty-education-subtitle">Publication Type : {{ publication.publication_type }}</span>
                <hr>
                </p>
                {% endfor %}
                {% else %}
                <p class="faculty_detail_description">No Publications Details Available</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% else %}
    <p>You have nothing to do here</p>
{% endif %}
{% endblock %}