{% extends 'base.html' %}
{% block title %}Program{% endblock %}
{% block content %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.hideseek.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#searchFaculty').hideseek({
            list: '.list',
            nodata: 'Nothing Found',
            attribute: 'text',
            matches: false,
            highlight: false,
            ignore: '.ignore-me',
            navigation: false,
            ignore_accents: false,
            hidden_mode: false,
            min_chars: 1
        });
    });

</script>


<div class="research-group-background">
    <div class="program-content-overlay">
        <div class="program-content">

            <div class="faculty-list">
                <div class="row">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="classes class-single curriculum-detail-container-card">
                                <div class="desc desc2 row">
                                    <div class="col-md-12 program-detail-container">

                                        <form>

                                            <div class="input-group">
                                                <span class="input-group-addon"><i
                                                        class="material-icons">search</i></span>
                                                <input style="border:1px solid #bdc3c7" id="searchFaculty" type="text"
                                                       class="form-control"
                                                       name="searchFaculty"
                                                       placeholder="Search by Faculty Name, Designation, Room No, Status"
                                                       data-toggle="hideseek" data-list=".list">
                                            </div>
                                            <br>
                                        </form>

                                        {% for faculty in faculties %}
                                        <div class="col-md-4 col-sm-6 list" >
                                            <div class="card">
                                                <center>
                                                    <a href="{% url 'faculty_detail' faculty.user.id %}">
                                                        <img src="/media/{{ faculty.image }}" alt="Avatar" height="50px" class="img img-responsive">
                                                    </a>
                                                </center>
                                                <div class="card-bottom">
                                                    <span>
                                                        <b>
                                                            <a class="people-title"
                                                               href="{% url 'faculty_detail' faculty.user.id %}">{{faculty.name}}</a>
                                                        </b>
                                                    </span>
                                                    <span class="people-designation">
                                                        {{faculty.designation}}
                                                    </span>
                                                    <span class="people-designation">
                                                        {{faculty.getFacultyStatus}}
                                                    </span>
                                                    <span class="people-designation" style="margin-bottom: 2%;">
                                                        {{faculty.office}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>

{% endblock %}
