{% extends 'base.html' %}
{% load static %}
{% block title %}Student{% endblock %}
{% block content %}
    <div class="research-group-background">
        <div class="program-content-overlay">
            <div class="program-content">

                <div class="faculty-list">
                    <div class="row">
                        <div class="container">

                            <div class="col-md-12">
                                <div class="classes class-single curriculum-detail-container-card">
                                    <div class="desc desc2 row">
                                        <div class="col-md-12 program-detail-container">
                                            <center>
                                            <img class="img img-responsive" width="50%" height="auto" src="{% static 'images/backgrounds/under-constrution.png' %}">
                                                <br>
                                                <h4 style="color: darkred">This section is under development. Please try again later.</h4>
                                            </center>



                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <br>


            </div>
        </div>
    </div>
{% endblock %}
