{% extends 'base.html' %}
{% block title %}News{% endblock %}
{% block content %}
    <div class="curriculum-background">
        <div class="program-content-overlay">
            <div class="program-content">
                <div class="">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12">
                                <h2 class="detail-card-header news-detail-card-header">
                                    <i class="material-icons">bookmark_border</i>News</h2>
                                <div class="classes class-single detail-card news-detail-card">
                                    <div class="desc desc2 row">
                                        <div class="col-md-12 program-detail-container">
                                            <center class="faculty_detail_description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat.
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                                dolore
                                                eu fugiat nulla pariatur. Excepteur sint Lorem ipsum dolor sit amet,
                                                consectetur
                                                adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat.
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                                dolore
                                                eu fugiat nulla pariatur. Excepteur sint
                                            </center>
                                            <center>
                                                <a href="#curriculum-detail" style="color: black"><i
                                                        class="material-icons">keyboard_arrow_down</i></a>
                                            </center>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="curriculum-detail">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12">
                                <div class="classes class-single curriculum-detail-container-card">
                                    <div class="desc desc2 row">
                                        <div class="col-md-12 detail-container">


                                            {% for n in news %}

                                                <div class="col-md-5 col-sm-11 animate-box col-xs-11 card news-card"
                                                     style="padding: 0px">
                                                    <div class="research_group_img_div">
                                                        <div class="hovereffect">
                                                            <img class="img-responsive"
                                                                 src="/static/images/backgrounds/material-bg-01.png"
                                                                 alt="">
                                                            <div class="news-overlay">
                                                                <h3>
                                                                    <span class="day">{{ n.date_published|date:"j" }}</span>
                                                                    <span class="month">{{ n.date_published|date:"F" }}</span>
                                                                    <span class="month">, {{ n.date_published.year }}</span>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="research_group_card">

                                                        <span class="research_group_name">{{ n.title }}</span>
                                                        <hr>
                                                        <i class="material-icons">date_range</i>
                                                        <span>
                                                            <span class="day">{{ n.date_published|date:"j" }}</span>
                                                            <span class="month">{{ n.date_published|date:"F" }}</span>
                                                            <span class="month">, {{ n.date_published.year }}</span>
                                                        </span>
                                                        <br>
                                                        <i class="material-icons">description</i>
                                                        <span style="text-align: justify;">{{ n.getNewsIntro }}</span>
                                                        <span data-toggle="modal" data-target="#{{ n.getStrippedName }}"
                                                              style="cursor: pointer;color: dodgerblue"> View Details</span>


                                                        <br>


                                                        <div id="{{ n.getStrippedName }}" class="modal fade"
                                                             role="dialog">
                                                            <div class="modal-dialog">
                                                                <!-- Modal content-->
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <span style="color: white">{{ n.title }}</span>
                                                                        <span data-dismiss="modal"
                                                                              style="cursor: pointer"><i
                                                                                class="material-icons">clear</i></span>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>{{ n.details }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}
