{% extends 'base.html' %}
{% block title %}Notice Board{% endblock %}
{% block content %}

    <div class="curriculum-background">
        <div class="program-content-overlay">
            <div class="program-content">
                <div class="">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12">
                                <h2 class="detail-card-header notice-detail-card-header">
                                    <i class="material-icons">notifications_active</i>Notice Board</h2>
                                <div class="classes class-single detail-card notice-detail-card">
                                    <div class="desc desc2 row">
                                        <div class="col-md-12 program-detail-container">
                                            <center class="faculty_detail_description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat.
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                                dolore
                                                eu fugiat nulla pariatur. Excepteur sint Lorem ipsum dolor sit amet,
                                                consectetur
                                                adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat.
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                                dolore
                                                eu fugiat nulla pariatur. Excepteur sint
                                            </center>
                                            <center>
                                                <a href="#curriculum-detail" style="color: black"><i
                                                        class="material-icons">keyboard_arrow_down</i></a>
                                            </center>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="curriculum-detail">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12">
                                <div class="classes class-single curriculum-detail-container-card">
                                    <div class="desc desc2 row">
                                        <div class="col-md-12 detail-container notice-detail-container">

                                            <div class="row">
                                                <div class="col-md-4 notice-side-nav">
                                                    <div class="classes class-single">
                                                        <div class="desc desc2">
                                                            <h4>Notice</h4>

                                                            {% for notice in notices %}
                                                                <p style="font-size: large;">{{ notice.program_name }}
                                                                    {% if notice.year_semester %}
                                                                        ({{ notice.year_semester }})
                                                                    {% endif %}
                                                                    <br>
                                                                    <a style="margin-left: 5%; font-size: medium;" href="#pdf-viewer">{{ notice.title }}</a>
                                                                </p>

                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div class="classes class-single">
                                                        <div class="desc desc2" id="pdf-viewer">
                                                            <embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=/home/sayem/Projects/sust_cse_website/src/media/notices/2018/05/27/TT.pdf"
                                                                   width="100%" height="700">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>

{% endblock %}