{% extends 'base.html' %}
{% block title %}Publications{% endblock %}
{% block content %}

<!--<script type="text/javascript" src="/static/js/jquery.min.js"></script>-->

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/data-table.js"></script>

<script>
    divs = ["poster", "conference", "journal"];

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    function showDiv(divName) {
        for (i = 0; i < divs.length; i++) {
            console.log("cli " + divs[i].valueOf() + " " + divName.toString());
            if (divs[i].valueOf() == divName.valueOf()) {
                var x = document.getElementById(divs[i].valueOf());
                x.style.display = "block";
                $("#publication_title").text(divs[i].valueOf()+" Publication ")
            }
            else {
                var x = document.getElementById(divs[i].valueOf());
                x.style.display = "none";
            }
        }
    }

    $(document).ready(function () {

        showDiv('conference');
        var conferenceTable = $('#conferenceTable').DataTable();
        var journalTable = $('#journalTable').DataTable();
        var posterTable = $('#posterTable').DataTable();



        //Check if navbar is expanded or minimized and handle
        /*$('#navbar-toggle').click(function () {
            if (state == "expanded") {
                $('.sidebar').css('margin-left', '-180px');
                $('#publication_left').css('background-color', 'white');
                $('#publication_right').css('width', '100%');
                state = "minimized";
            } else {
                if (state == "minimized") {
                    $('.sidebar').css('margin-left', '0px');
                    $('#publication_left').css('background-color', '#2b2b2d');
                    $('#publication_right').css('width', '80%');
                    state = "expanded";
                }
            }
        });*/


    })
</script>


<div class="publication-background">
    <div class="program-content-overlay">
        <div class="publication_content">
            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                        <h2 class="program-detail-card-header">
                            <i class="material-icons">school</i>
                            <span id="publication_title">Program - {{ program.program_name }}</span></h2>
                        <div class="classes class-single program-detail-header-card">
                            <div class="desc desc2 row">
                                <div class="col-md-12 program-detail-container">

                                    <div id="conference" style="display: none">
                                        <table id="conferenceTable" class="table table-striped table-bordered"
                                               style="width:100%">
                                            <thead>
                                            <tr>
                                                <th><a href="#">Title</a></th>
                                                <th><a href="#">Cited By</a></th>
                                                <th><a href="#">Published Year</a></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for publication in publications %}
                                            {% if publication.publication_type.name == 'Conference' %}
                                            <tr>
                                                <td>
                                                    <b>{{ publication.title }}</b>
                                                    </br>
                                                    <span>
                                {{ publication.author_faculty }}
                                {% for student in publication.author_student.all %}
                                    , {{ student }}
                                {% endfor %}
                                                        </br>
                                                        {{ publication.where_published }}
                                </span>
                                                </td>
                                                <td>{{ publication.cited_by }}</td>
                                                <td>{{ publication.published_year }}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>


                                    <div id="journal" style="display: none">
                                        <table id="journalTable">
                                            <thead>
                                            <tr>
                                                <th><a href="#">Title</a></th>
                                                <th><a href="#">Cited By</a></th>
                                                <th><a href="#">Published Year</a></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for publication in publications %}
                                            {% if publication.publication_type.name == 'Journal' %}
                                            <tr>
                                                <td>{{ publication.title }}</td>
                                                <td>{{ publication.cited_by }}</td>
                                                <td>{{ publication.published_year }}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div id="poster" style="display: none">
                                        <table id="posterTable">
                                            <thead>
                                            <tr>
                                                <th><a href="#">Title</a></th>
                                                <th><a href="#">Cited By</a></th>
                                                <th><a href="#">Published Year</a></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for publication in publications %}
                                            {% if publication.publication_type.name == 'Poster' %}
                                            <tr>
                                                <td>{{ publication.title }}</td>
                                                <td>{{ publication.cited_by }}</td>
                                                <td>{{ publication.published_year }}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>

        <nav class="navbar navbar-expand-sm navbar-fixed-bottom" id="publication-bottom-nav" style="background: #0E2231;">


            <ul class="bottom-nav">

                <li>
                    <a href="#" onclick="showDiv('conference')">
                        <i class="material-icons sidebar-icon"  aria-hidden="true">forum</i>
                        Conference </a>
                </li>
                <li>
                    <a href="#" onclick="showDiv('journal')">
                        <i class="material-icons sidebar-icon" aria-hidden="true">import_contacts</i>
                        Journal</a>
                </li>
                <li>
                    <a href="#" onclick="showDiv('poster')">
                        <i class="material-icons sidebar-icon" aria-hidden="true">list_alt</i>
                        Poster
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}


<!--
<div class="publication-left navbar-fixed-bottom">

                <div class="sidebar">

                    <ul class="sidebar-nav">
                        <li>
                            <a id="navbar-toggle"><i class="material-icons sidebar-icon"
                                                     aria-hidden="true"></i></i></a>
                        </li>
                        <li>
                            <a href="#" onclick="showDiv('conference')">Conference <i
                                    class="material-icons sidebar-icon"
                                    aria-hidden="true">forum</i></i></a>
                        </li>
                        <li>
                            <a href="#" onclick="showDiv('journal')">Journal <i class="material-icons sidebar-icon"
                                                                                aria-hidden="true">import_contacts</i></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="showDiv('poster')">Poster <i class="material-icons sidebar-icon"
                                                                              aria-hidden="true">list_alt</i></i>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>-->
