{% extends 'base.html' %}
{% block title %}Publications{% endblock %}
{% block content %}


<div id="mySidenav" class="sidenav">
    <a href="#" onclick="showDiv('conference')">Conference</a>
    <a href="#" onclick="showDiv('journal')">Journal</a>
    <a href="#" onclick="showDiv('poster')">Poster</a>
</div>

<div id="main" onload="showDiv('conference')">

    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by options">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search">Search</i>
                </button>
            </div>
        </div>
    </form>

    <br><br>

    <div class="card" id="conference" style="display: none">
        <table>
            <tr>
                <th><a href="#">Title</a></th>
                <th><a href="#">Cited By</a></th>
                <th><a href="#">Published Year</a></th>
            </tr>
            {% for publication in publications %}
                {% if publication.publication_type.name == 'Conference' %}
                    <tr>
                        <td>
                            {{ publication.title }}
                            </br>
                            <span style="font-size:10px;">
                            {{ publication.author_faculty }}
                            {% for student in publication.author_student.all %}
                                , {{ student }}
                            {% endfor %}
                            </br>
                            {{ publication.where_published }}
                            </span>
                        </td>
                        <td>{{ publication.cited_by }}</td>
                        <td>{{ publication.published_year }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="card" id="journal" style="display: none">
        <table>
            <tr>
                <th><a href="#">Title</a></th>
                <th><a href="#">Cited By</a></th>
                <th><a href="#">Published Year</a></th>
            </tr>
            {% for publication in publications %}
                {% if publication.publication_type.name == 'Journal' %}
                    <tr>
                        <td>{{ publication.title }}</td>
                        <td>{{ publication.cited_by }}</td>
                        <td>{{ publication.published_year }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="card" id="poster" style="display: none">
        <table>
            <tr>
                <th><a href="#">Title</a></th>
                <th><a href="#">Cited By</a></th>
                <th><a href="#">Published Year</a></th>
            </tr>
            {% for publication in publications %}
                {% if publication.publication_type.name == 'Poster' %}
                    <tr>
                        <td>{{ publication.title }}</td>
                        <td>{{ publication.cited_by }}</td>
                        <td>{{ publication.published_year }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

</div>

<script>
    divs = ["poster", "conference", "journal"];

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    function showDiv(divName) {
        for (i = 0; i < divs.length; i++) {
            console.log("cli " + divs[i].valueOf() + " " + divName.toString());
            if (divs[i].valueOf() == divName.valueOf()) {
                var x = document.getElementById(divs[i].valueOf());
                x.style.display = "block";
            }
            else {
                var x = document.getElementById(divs[i].valueOf());
                x.style.display = "none";
            }
        }
    }
</script>


{% endblock %}

