{% extends 'base.html' %}
{% block title %}Publications{% endblock %}
{% block content %}

<!--<script type="text/javascript" src="/static/js/jquery.min.js"></script>-->


<div class="sidebar">

    <ul class="sidebar-nav">
        <li>
            <a id="navbar-toggle"><i class="material-icons sidebar-icon" aria-hidden="true">reorder</i></i></a>
        </li>
        <li>
            <a href="#" onclick="showDiv('conference')">Conference <i class="material-icons sidebar-icon"
                                                                      aria-hidden="true">forum</i></i></a>
        </li>
        <li>
            <a href="#" onclick="showDiv('journal')">Journal <i class="material-icons sidebar-icon" aria-hidden="true">import_contacts</i></i>
            </a>
        </li>
        <li>
            <a href="#" onclick="showDiv('poster')">Poster <i class="material-icons sidebar-icon" aria-hidden="true">list_alt</i></i>
            </a>
        </li>
    </ul>
</div>


<div id="main">

        <form>

            <div class="input-group">
                <span class="input-group-addon"><i class="material-icons">search</i></span>
                <input style="border:1px solid #bdc3c7" id="searchItem" type="text" class="form-control"
                       name="searchItem" placeholder="Search by Title, Author, Year, Journal, Conference, Cited By">
            </div>
            <br>
        </form>
    <br>

    <div class="card" id="conference" style="display: none">
        <table id="conferenceTable">
            <thead>
                <tr>
                    <th><a href="#">Title</a></th>
                    <th><a href="#">Cited By</a></th>
                    <th><a href="#">Published Year</a></th>
                </tr>
            </thead>
            <tbody>
                {% for publication in publications %}
                {% if publication.publication_type.name == 'Conference' %}
                <tr>
                    <td>
                        <b>{{ publication.title }}</b>
                        </br>
                        <span>
                                {{ publication.author_faculty }}
                                {% for student in publication.author_student.all %}
                                    , {{ student }}
                                {% endfor %}
                            </br>
                            {{ publication.where_published }}
                                </span>
                    </td>
                    <td>{{ publication.cited_by }}</td>
                    <td>{{ publication.published_year }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card" id="journal" style="display: none">
        <table id="journalTable">
            <tr>
                <th><a href="#">Title</a></th>
                <th><a href="#">Cited By</a></th>
                <th><a href="#">Published Year</a></th>
            </tr>
            {% for publication in publications %}
            {% if publication.publication_type.name == 'Journal' %}
            <tr>
                <td>{{ publication.title }}</td>
                <td>{{ publication.cited_by }}</td>
                <td>{{ publication.published_year }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="card" id="poster" style="display: none">
        <table id="posterTable">
            <tr>
                <th><a href="#">Title</a></th>
                <th><a href="#">Cited By</a></th>
                <th><a href="#">Published Year</a></th>
            </tr>
            {% for publication in publications %}
            {% if publication.publication_type.name == 'Poster' %}
            <tr>
                <td>{{ publication.title }}</td>
                <td>{{ publication.cited_by }}</td>
                <td>{{ publication.published_year }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

</div>

<script>
    divs = ["poster", "conference", "journal"];

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    function showDiv(divName) {
        for (i = 0; i < divs.length; i++) {
            console.log("cli " + divs[i].valueOf() + " " + divName.toString());
            if (divs[i].valueOf() == divName.valueOf()) {
                var x = document.getElementById(divs[i].valueOf());
                x.style.display = "block";
            }
            else {
                var x = document.getElementById(divs[i].valueOf());
                x.style.display = "none";
            }
        }
    }

    $(document).ready(function () {

        showDiv('conference');
        var table = $('#conferenceTable').DataTable();
        alert("Hel");


        var state = "expanded";
        //Check if navbar is expanded or minimized and handle
        $('#navbar-toggle').click(function () {
            if (state == "expanded") {
                $('.sidebar').css('margin-left', '-180px');
                state = "minimized";
            } else {
                if (state == "minimized") {
                    $('.sidebar').css('margin-left', '0px');
                    state = "expanded";
                }
            }
        })
    })
</script>


{% endblock %}

