{% extends 'base.html' %}
{% block title %}Curriculum{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row row-pb-lg">
                <div class="col-md-12 animate-box">
                    <div class="classes class-single">
                        <div class="desc desc2">
                            <h1>{{ program.program_name }}</h1>
                            <br><br>
                            {% for semester in semesters %}
                                {{ semester.year_semester }}
                                <br><br>
                                {% for course in courses %}
                                {% if course.year_semester.year_semester == semester.year_semester %}
                                    {{ course.course_code }}
                                    {{ course.course_title }}
                                    {{ course.course_credit }}
                                {% endif %}
                                <br><br>
                                {% endfor %}
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}