{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
      {% block title %}{% endblock %}
    </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/sidenav.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

</head>

<body>

<div class="colorlib-loader"></div>

<div id="page">

    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div id="colorlib-logo"><a href="{% url 'index' %}">SUST CSE</a></div>
                    </div>
                    <div class="col-md-10 text-right menu-1">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li class="has-dropdown">
                                <a href="#">Academic</a>
                                <ul class="dropdown">
                                    <div class="row">
                                        <div class="col-lg-4" >
                                            <li>Program</li>
                                            <hr>
                                            <li style="color:white;font-size:0.8em;">Undergraduate</li>
                                                <li><a href="{% url 'umajor' %}" style="margin-left: 20px;">Major</a></li>
                                                <li><a href="{% url 'usecmajor' %}" style="margin-left: 20px;">Second Major</a></li>
                                            <li style="color:white;font-size:0.8em;">Graduate</li>
                                                <li><a href="{% url 'gmajor' %}" style="margin-left: 20px;">Major</a></li>
                                                <li><a href="{% url 'gsecmajor' %}" style="margin-left: 20px;">Second Major</a></li>
                                            <li style="color:white;font-size:0.8em;"><a href="{% url 'phd' %}">PHD</a></li>
                                            <li style="color:white;font-size:0.8em;"><a href="{% url 'ccna' %}">CCNA</a></li>
                                        </div>
                                        <div class="col-lg-4" >
                                            <li>Admission</li>
                                            <hr>
                                           <li style="color:white;font-size:0.8em;">Undergraduate</li>
                                                <li><a href="{% url 'cumajor' %}" style="margin-left: 20px;">Deciding</a></li>
                                                <li><a href="{% url 'cusecmajor' %}" style="margin-left: 20px;">Apply</a></li>
                                                <li><a href="{% url 'cusecmajor' %}" style="margin-left: 20px;">Getting Ready</a></li>
                                            <li style="color:white;font-size:0.8em;">Second Major</li>
                                                <li><a href="{% url 'cgmajor' %}" style="margin-left: 20px;">Eligibility</a></li>
                                                <li><a href="{% url 'cgsecmajor' %}" style="margin-left: 20px;">Steps</a></li>
                                                <li><a href="{% url 'cgsecmajor' %}" style="margin-left: 20px;">Deadline</a></li>
                                                <li><a href="{% url 'cgsecmajor' %}" style="margin-left: 20px;">Info Session</a></li>
                                            <li style="color:white;font-size:0.8em;"><a href="{% url 'cphd' %}">PHD</a></li>
                                            <li style="color:white;font-size:0.8em;"><a href="{% url 'cccna' %}">CCNA</a></li>
                                        </div>
                                        <div class="col-lg-4" >
                                            <li>Curriculum</li>
                                            <hr>
                                           <li style="color:white;font-size:0.8em;">Undergraduate</li>
                                                <li><a href="{% url 'cumajor' %}" style="margin-left: 20px;">Major</a></li>
                                                <li><a href="{% url 'cusecmajor' %}" style="margin-left: 20px;">Second Major</a></li>
                                            <li style="color:white;font-size:0.8em;">Graduate</li>
                                                <li><a href="{% url 'cgmajor' %}" style="margin-left: 20px;">Major</a></li>
                                                <li><a href="{% url 'cgsecmajor' %}" style="margin-left: 20px;">Second Major</a></li>
                                            <li style="color:white;font-size:0.8em;"><a href="{% url 'cphd' %}">PHD</a></li>
                                            <li style="color:white;font-size:0.8em;"><a href="{% url 'cccna' %}">CCNA</a></li>
                                        </div>
                                    </div>
                                </ul>
                            </li>


                            <li class="has-dropdown">
                                <a href="#">Research</a>
                                <ul class="dropdown" style="width:300%;">
                                    <li><a href="{% url 'ccna' %}">Areas</a></li>
                                    <li><a href="{% url 'ccna' %}">Research Seminar</a></li>
                                    <li><a href="{% url 'publications' %}">Publications</a></li>
                                        <!--<li><a href="{% url 'cgmajor' %}" style="margin-left: 20px;">Tech Reports</a></li>
                                        <li><a href="{% url 'cgsecmajor' %}" style="margin-left: 20px;">Thesis reports</a></li>
                                        <li><a href="{% url 'cgsecmajor' %}" style="margin-left: 20px;">Poster</a></li>
                                        <li><a href="{% url 'cgsecmajor' %}" style="margin-left: 20px;">Conference</a></li>
                                        <li><a href="{% url 'cgsecmajor' %}" style="margin-left: 20px;">Journal</a></li>
                                        <li><a href="{% url 'cgsecmajor' %}" style="margin-left: 20px;">Patent</a></li>
                                        <li><a href="{% url 'cgsecmajor' %}" style="margin-left: 20px;">Archive</a></li>-->
                                </ul>
                            </li>





                            <li class="has-dropdown">
                                <a href="#">People</a>
                                <ul class="dropdown" style="width:120px;">
                                    <li><a href="{% url 'ccna' %}">STUDENT</a></li>
                                    <li><a href="{% url 'phd' %}">FACULTY</a></li>
                                    <li><a href="{% url 'ccna' %}">STAFF</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Announcement</a>
                                <ul class="dropdown" style="width:180px;">
                                    <li><a href="{% url 'notice_board' %}">NOTICE BOARD</a></li>
                                    <li><a href="{% url 'news_events' %}">NEWS AND EVENTS</a></li>
                                    <li><a href="{% url 'honor_board' %}">HONOR BOARD</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                            <li class="btn-cta"><a href="#"><span>Login</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer id="colorlib-footer">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-5 colorlib-widget">
                    <h4>ABOUT SUST CSE</h4>
                    <p>Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    <p>
                        <ul class="colorlib-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2 colorlib-widget">
                    <h4>Quick Links</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="#"><i class="icon-check"></i> About Us</a></li>
                            <li><a href="#"><i class="icon-check"></i> Testimonials</a></li>
                            <li><a href="#"><i class="icon-check"></i> Courses</a></li>
                            <li><a href="#"><i class="icon-check"></i> Event</a></li>
                            <li><a href="#"><i class="icon-check"></i> News</a></li>
                            <li><a href="#"><i class="icon-check"></i> Contact</a></li>
                        </ul>
                    </p>
                </div>

                <div class="col-md-5 colorlib-widget">
                    <h4>Contact Info</h4>
                    <ul class="colorlib-footer-links">
                        <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                        <li><a href="tel://1234567920"><i class="icon-phone"></i> + 1235 2355 98</a></li>
                        <li><a href="mailto:info@yoursite.com"><i class="icon-envelope"></i> info@yoursite.com</a></li>
                        <li><a href="http://luxehotel.com"><i class="icon-location4"></i> yourwebsite.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</small><br>
                            <small class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a>, <a href="http://pexels.com/" target="_blank">Pexels</a></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>


<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Stellar Parallax -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- Flexslider -->
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<!-- Owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup-options.js' %}"></script>
<!-- Counters -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<!-- Main -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>