{% extends 'base.html' %}
{% block title %}Admission{% endblock %}
{% block content %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<!--<div class="people-detail-header-image">
    <span class="people-detail-header-overlay"></span>
</div>-->
<div class="program-background">
    <div class="program-content-overlay">
        <div class="program-content">
            <div class="">
                <div class="row">
                    <div class="container">
                        <div class="col-md-12">
                            <h2 class="program-detail-card-header" >
                                <i class="material-icons">school</i>
                                Program - {{ program.get_program_name_display }}</h2>
                            <div class="classes class-single program-detail-header-card">
                                <div class="desc desc2 row">
                                    <div class="col-md-12 program-detail-container">
                                        <center class="faculty_detail_description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu fugiat nulla pariatur. Excepteur sint Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu fugiat nulla pariatur. Excepteur sint Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu fugiat nulla pariatur. Excepteur sint

                                        </center>
                                        <center>
                                            <a href="#program-detail" style="color: black"><i class="material-icons">keyboard_arrow_down</i></a>
                                        </center>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="program-detail">
                <div class="row">
                    <div class="container">
                        <div class="col-md-12">
                            <h2 class="program-detail-card-header" >
                                <i class="material-icons">school</i>
                                {{ program.get_program_name_display }} - Program Detail</h2>
                            <div class="classes class-single program-detail-container-card">
                                <div class="desc desc2 row">
                                    <div class="col-md-12 program-detail-container">
                                        <center class="faculty_detail_description">
                                            {{ program.details|safe }}
                                        </center>

                                    </div>
                                    <div class="col-md-12 program-detail-container">
                                        <center class="faculty_detail_description">
                                            {% if program.admission_form %}
                                                Wanna Get Admitted to {{ program.get_program_name_display }} fill up this
                                            <a href="{% url 'download_form' program.admission_form.name %}">form</a>
                                            {% endif %}
                                        </center>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}


